<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="ErrorsRedirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/error/(\d{3})$" />
                    </conditions>
                    <action type="Rewrite" url="/Utility/Error.php?code={C:1}" appendQueryString="false" />
                </rule>
                <rule name="CanonicalHostNameRule">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^www\.usiphp\.net$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.usiphp.net/{R:1}" />
                </rule>
                <rule name="LowerCaseRule" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/utility/$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{ToLower:{URL}}" redirectType="Permanent" />
                </rule>
                <rule name="RemoveDefault" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/(.*/)*(index|default)\..+$" />
                    </conditions>
                    <action type="Redirect" url="/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="BlockUrlRule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/assets/configuration" />
                        <add input="{URL}" pattern="^/assets/templates" />
                        <add input="{URL}" pattern="^/installation" />
                        <add input="{URL}" pattern="^/shared" />
                        <add input="{URL}" pattern="^/home" />
                        <add input="{URL}" pattern="^/operations/.+$" />
                        <add input="{URL}" pattern="^/serviceclients" />
                        <add input="{URL}" pattern="^/settings/.+$" />
                        <add input="{URL}" pattern="^/wsdl/.+$" />
                        <add input="{URL}" pattern="^/sts/.+$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Resouce not found" />
                </rule>
                <rule name="PostOnly" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/utility/$" />
                        <add input="{REQUEST_METHOD}" pattern="POST" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Resource not found" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="431" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="400" prefixLanguageFilePath="" path="/Utility/Error.php?code=400" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/Utility/Error.php?code=401" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/Utility/Error.php?code=403" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Utility/Error.php?code=404" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/Utility/Error.php?code=405" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/Utility/Error.php?code=406" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/Utility/Error.php?code=412" responseMode="ExecuteURL" />
            <error statusCode="431" prefixLanguageFilePath="" path="/Utility/Error.php?code=431" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/Utility/Error.php?code=500" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/Utility/Error.php?code=501" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/Utility/Error.php?code=502" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>